README.md
.gitignore
**/__pycache__/

/.idea/

/DNABERT/

/6-new-12w-0/
/transformers/
/fusim-0.2.2/

/data/transcripts/
/data/gt_shredder_*/
/data/fusim_*/
/data/art_*/
/data/inputs_model/
/data/check/
/data/processed_dir/
/data/kmer_*.txt

/results/